.sidennav{
    height: 100%;
    position: fixed;
    
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }